body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
p,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
.VoyageFont{
    font-family: "VOYAGE";
    font-size: 15vh;
    font-weight: 400;
    writing-mode: vertical-lr;
    position: absolute;
    left: 50%;
    height: 80%;
    top: 50%;
    transform: translate(-50%, -50%) rotateZ(180deg);
    text-align: center;
    width: 11.5vh;
}
*{
    font-family: "APFEL";
}
.btn{
    &:hover{
        cursor: pointer;
    }
}